<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js">

    </script>
    <title> Stock Searcher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico?' />
    <style>
        body {
            font-family: "Lato", sans-serif
        }
    </style>
<script src='../static/script.js'></script>
</head>

<body>


    <!-- Navbar -->

    <div class="w3-top ">
        <div class="w3-bar w3-black w3-card ">
            <a href="./ " class="w3-bar-item w3-button w3-padding-large ">EBAY PRODUCT LOOKUP</a>
        </div>
    </div>


        <!-- Body -->

    <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:800px " id="Main ">
        <div id='body'>
            <h2 class="w3-wide ">Ebay Product Lookup</h2>
            <p class="w3-center ">Enter an item below to pull up pricing information on it</p>
            <br>
       <form id="search"  action="/search" onsubmit="return validateForm()" method="post">
        <label for='product'>Product: </label><input id='product' style="border-radius: 5px" type="text" name="product">
        <br><br><label for="condition">Condition: </label> <select name="condition" style="border-radius: 5px;" id="condition">
  <option name="new" value="new">New</option>
  <option name="open" value="open">Open Box</option>
  <option name="manufacturer" value="manufacturer">Manufacturer Refurbished </option>
  <option name="seller" value="seller">Seller Refurbished</option>
  <option name="used" value="used">Used</option>
  <option name="parts" value="parts">For Parts or Not Working</option>
</select> <br><br>
        Item Status:
        <input type="radio" name="status" id="active" value="Active" checked> <label for="active">Active</label>
        <input type="radio" name="status" id="sold" value="Sold"> <label for="sold">Sold</label> <br><br>
        <label for="price-min">Price Range: </label><input id='price-min' min= 0 style="border-radius: 5px; width: 80px" type="number" name="price-min">
        <label for="price-max">    to:    </label><input id='price-max' min = 0 style="border-radius: 5px; width: 80px" type="number" name="price-max">
          <br> <br> <input type="submit" id="submit" value="Search" style="border-radius: 5px">
      </form>

        </div>
    </div>

  <div class="w3-display-bottomleft w3-padding-large">
    A Tool Made For Ebay
      </div>

</body>
</html>